@charset "UTF-8";

/*==========global==========*/
* {
  font-family: 'Roboto', sans-serif;
  color: #333;
  box-sizing:border-box;
}

a {
  text-decoration: none;
  display: block;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 14px;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  color: #ffffff;
}

.btn a{
  color: inherit;
}

.spNone {
  display: none;
}

.pcNone {
  display: block;
}

.icon {
  display: none;
}

/*=====global 320px以下で切り替え=====*/
@media (max-width: 375px) {

.spNone {
  display: block;
}
.pcNone {
  display: none;
}
}



/*==========local==========*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}

.firstView {
  background-image: url(img/first-view.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}


/*==========header==========*/
header h1 {
  width: 100px;
}

header a {
  height: 20px;
}

header>.inner {
  width: 96%;
  max-width: 971px;
  margin: 15px auto ;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul>li:not(:first-child) {
  margin-left: 20px;
}

header ul>li:first-child {
  margin-left: 56px;
}

header .btn {
  background-color: #ffa800;
  width: 132px;
  height: 30px;
}


/*=====1024以下で切り替え=====*/
@media (max-width: 1024px) {

header .fas {
  display: block;
}

header .icon {
  display: block;
}

nav,header>.inner>.btn {
  display: none;
}
}


/*==========firstView==========*/
.firstView > .inner {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.firstView h2 {
  max-width: 96%;
  max-height: auto;
  width: 662px;
  margin-top: 60px;
}

.firstView ul {
  width: 500px;
  border-top: medium  solid #ffffff;
  border-top-width: 0.4px;
  margin-top: 40px;
}

.firstView ul > li {
  line-height: 1.86;
  color: #ffffff;
  text-align: center;
}

.firstView p {
  line-height: 1.86;
  color: #ffffff;
  text-align: center;
}

.firstView p:nth-child(2) {
  margin-top: 39px;
}

.firstView li:nth-child(1) {
  margin-top: 40px;
}

.firstView .btn {
margin: auto;
width: 252px;
  height: 35px;
  margin-top: 40px;
  background-color: #ffa800;
}

/*=====firstView 1024以下で切り替え==========*/
@media (max-width: 1024px) {

header .fas {
  display: block;
}

header .icon {
  display: block;
}

nav,header>.inner>.btn {
  display: none;
}
}

/*=====firstView 320px以下で切り替え=====*/
@media (max-width: 375px) {

.firstView ul > li {
  max-width:96%;
  margin-left: 0;
}

.firstView ul {
  width: 87%;
  margin-top: 20px;
}

.firstView li:nth-child(1) {
  margin-top: 20px;
}
}