@charset "UTF-8";

/*=====グローバル=====*/
* {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  box-sizing:border-box;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  color: #ffffff;
}

a {
  text-decoration: none;
  display: block;
}

header .sp-icon {
  display: none;
}

.sp-br {
  display: none;
}

.pc-br {
  display: block;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/*=====グローバルここまで=====*/

/*=====ヘッダー=====*/
header h1 {
  width: 100px;
  height:20px;
}

header nav {
  position: relative;
  left: 30px;
}

img {
  width: 100%;
  vertical-align: bottom;
}

header a {
  height:20px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}

header > .inner {
  max-width: 96%;
  width: 979px;
  margin: auto;
  display: flex;
  justify-content: space-between; /*要素内端に寄せる*/
  align-items: center;
  height:60px;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header+.inner, ul > li:not(:first-child) {
  margin-left: 20px;
}

header .btn {
  background-color: #ffa800;
  width: 132px;
  height: 30px;
}
/*=====ヘッダーここまで=====*/


/*=====first-viewセクション=====*/
.first-view {
  background-image: url(img/first-view.jpg);
  background-size: cover;
  background-position: center;/*拝啓画像の中心から切り出す*/
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center; /*要素内端に寄せる*/
  align-items: center;
  position: relative;
  top: 60px;
}

section > .inner {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center; /*要素内端に寄せる*/
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.first-view h2 {
  max-width: 96%;
  max-height: auto;
  width: 662px;
}

.first-view ul {
  border-top: medium  solid #ffffff;
  border-top-width: 0.4px;
  margin-top: 40px;
  width: 500px;
}

.first-view ul > li {
  line-height: 1.86;
  color: #ffffff;
}

.first-view p {
  line-height: 1.86;
  color: #ffffff;
}

.first-view p:nth-child(2) {
  margin-top: 39px;
}

 .first-view li:nth-child(1) {
  margin-top: 40px;
}

 .first-view .btn {
   margin: auto;
   width: 252px;
  height: 35px;
  margin-top: 40px;
  background-color: #ffa800;
}


/*=====1000以下で切り替え=====*/
@media (max-width: 1000px) {

  header .fas {
    display: block;
  }

  header .sp-icon {
    display: block;
  }
  
  .pc-nav {
    display: none;
  }
}

/*=====420px以下で切り替え=====*/
@media (max-width: 420px) {

  .sp-br {
    display: block;
  }
  .pc-br {
    display: none;
  }

.first-view ul > li {
  max-width:96%;
}

.first-view ul {
  width: 87%;
}

section > .inner {
  margin-top: 90px;
  }

.first-view ul {
  margin-top: 20px;
}

.first-view li:nth-child(1) {
  margin-top: 20px;
  }
}